# Node
node_modules
**/node_modules

# Turborepo
.turbo

# Next.js
.next

# NestJS build
dist

# Expo
.expo
apps/mobile/.expo

# Env
.env
.env.local
.env.*

# Coverage and logs
coverage
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode
.idea